* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

/* common classes */
.wrapper {
    width: 80%;
    min-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 46px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
    margin: 20px 0;
    text-transform: uppercase;
}
h5 {
    font-size: 16px;
}
p {
    font-weight: 500;
    font-size: 16px;
    margin: 30px 0;
}
p.caption {
    font-size: 14px;
}
/* simbolo + sezione community */
.thin-symbol {
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
}


.t-orange {
    color: #ff7a59;
}
.t-dark {
    color: #33475b;
}
.t-white {
    color: white;
}

/* link del sito */
a {
    display: inline-block;

    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ff7a59;
    text-decoration: underline;
}

/* pulsanti del sito */
.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn.orange {
    background-color: #ff7a59;
    color: white;
    border: 1px solid #ff7a59;

}
.btn.white {
    background-color: white;
    color:#ff7a59;
    border: 1px solid #ff7a59;
}
.btn.small {
    padding: 10px;
}
.btn.big {
    padding: 20px
}


/* float and clearfix */
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3%;
}
.col-6 {
    width: 50%;
}
.col-8 {
    width: 66.7%;
}

/* HEADER */
header ul li, 
header ul {
    display: inline-block;
}

/* header CTA NAV SECTION */
.cta-nav {
    background-color: rgb(231, 247, 244);
    padding: 20px 0;
}

/* cta nav dimensione font */
.cta-nav,
.cta-nav [name="language"] {
    font-size: 14px;
    font-weight: 400;

    line-height: 40px;
}

/* cta parte sinistra */
.cta-nav [name="language"]{
    background-color: transparent;
    color: #33475b;
    border: none;

    margin-right: 15px;
}

.cta-nav .contact-us {
    border-left: 1px solid #33475b;
    padding-left: 20px;
}

.fa-globe-asia {
    color: #33475b;
}

/* cta parte destra */
.cta-nav .btn {
    margin-left: 15px;
}

.fa-search {
    color: rgb(85, 171, 182);
}

/* header MENU NAV SECTION */
header .menu-nav {
    font-size: 16px;
    font-weight: 500;

    padding: 20px 0;
}

header .menu-nav a {
    line-height: 38px;
}
header .menu-nav li {
    margin: 0 8px;
}

header .menu .fas {
    margin-left: 8px;
}


/* HERO BANNER */
#bg-hero {
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

.hero-text {
    padding: 50px 0 100px;
}

.hero-text p {
    line-height: 32px;

    margin: 15px 0;
}

#hero .banner {
    height: 100px;
    background-color: rgb(121, 226, 177);
    border-top:  4px solid #33475b;
    border-bottom:  4px solid #33475b;
}


/* PRODUCT */
#product {
    background-color: rgb(231, 247, 244);
    padding: 50px 0;
}

#product .product-title {
    text-align: center;

    width: 70%;
    margin: auto;
}

#product .fa-check-circle {
    color: #ff7a59;
}

#product li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

/* immagine product title */
#product .centered-pic {
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin: auto;
}

#product .prod-feature {
    background-color: rgb(255, 255, 255);
}

.h-row-pic {
    height: 200px;
    width: 200px;  
    object-fit: contain;
}

.col-pic {
    height: 150px;
    width: 150px;  
    object-fit: contain;
}

/* PROD FEATURE 1^ riga */
.prod-feature.h-row {
    padding: 50px 50px;
    margin: 50px 0;
}

/* allineamento centrale illustraz e pulsante */
.h-illustration .h-row-pic,
.h-illustration button {
    display: block;
    margin: auto;
}

.h-pop-feature h4,
.h-pop-feature hr {
    display: inline-block;
    vertical-align: middle;
}
.h-pop-feature hr {
    width: 40%;
    margin-left: 30px;
}

/* stile elenco check sia x orizzonatale che x colonne */
#product .fa-check-circle {
    margin-right: 15px;
}

/* stile elenco check x orizzontale */
.h-caption li {
    display: inline-block;
    margin-right: 25px;
}

/* PROD FEATURE 2^ riga */
.prod-col-row{
    margin: 0 -15px;

    text-align: center;
}
.prod-col-row .prod-column {
    padding: 0 15px;
}
.prod-card {
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
}

/* stile lista check colonne */
.prod-column li {
    text-align: left;
} 

.prod-column button {
    margin-top: 30px;
}


/* COMMUNITY */
#community {
    background: linear-gradient(117deg, rgb(108, 209, 197) 0%, rgb(66, 181, 219) 100%);;
    padding: 50px 0;

    text-align: center;
}

.comm-grid {
    margin: 40px 0; 
}

.comm-card {
    padding: 20px 30px;
    border-right: 1px solid white;
}

.comm-card.odd-line {
    border-bottom: 1px solid white;
}

.comm-row .comm-card:last-child {
    border-right: none;
}

.comm-card img {
    margin-bottom: 15px;
}

.comm-card p {
    margin: 15px 0;
}






/* GROW WITH US */
#grow-with-us {
    background-color: darkgoldenrod;
}


/* utility classes */
.border {
    border: 2px solid black;
}
.h-50 {
    height: 50px;
}
.h-80 {
    height: 80px;
}
.h-100 {
    height: 100px;
}
.h-150 {
    height: 150px;
}
.h-200 {
    height: 200px;
}
.h-300 {
    height: 300px;
}
.h-400 {
    height: 400px;
}
.h-500 {
    height: 500px;
}
.h-600 {
    height: 600px;
}
.h-700 {
    height: 700px;
}